import logging

TOKEN = '344999817:tiEnlKcJ46Y43xJdbF7Czt3EBPSNWfNUWrj'
SERVER_HOST = 'example.com'
WEBHOOK_PATH = '/tellerbot/webhook'
SERVER_PORT = 5000
LOGGER_LEVEL = logging.INFO
SUPPORT_CHAT_ID = -643473860
ORDERS_COUNT = 10
ORDERS_LIMIT_HOURS = 24
ORDERS_LIMIT_COUNT = 10
